.gateway3-tile {
  display: flex;
  flex-flow: column;
  margin: 20px;
  width: 400px;
  height: 140px;
  max-width: 400px;
  /* border: 1px solid black; */
}

.gateway3-tile--placeholder {
  display: flex;
  flex-flow: column;
  margin: 20px;
  width: 400px;
  height: 140px;
  max-width: 400px;
}

.gateway3-tile-border {
  height: 100%;
  width: 100%;
  border: 3px solid rgb(34, 44, 56);
  border-radius: 3px;
  /* background: green; */
  /* display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; */
  z-index: 3;
  animation: g3border 0.8s ease;
}

.gateway3-tile-border--placeholder {
  height: 100%;
  width: 100%;
  /* border: 3px dashed rgb(80, 80, 80); */
  border: 3px dashed gray;
  border-radius: 5px;
  /* background: green; */
  /* display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; */
  animation: g3border 0.8s ease;
}

.gateway3-tile__loading-container {
  background: lightgray;
  border-radius: 5px;
  /* background: gray; */
  /* display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; */
  /* border: 2px dashed gray; */
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 5px rgb(150, 150, 150);
  animation: g3loadingTile 0.6s ease;
}

.gateway3-tile__backplate {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 0;
  /* border-radius: 5px; */
  background: rgb(34, 44, 56);
  animation: g3backplate 0.8s ease;
}

.gateway3-tile__backplate--placeholder {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* padding: 14px; */
  /* box-shadow: 0 0 10px 5px rgb(150, 150, 150); */
  background: gray;
  /* background: rgb(120, 120, 120); */
  border-radius: 5px;
  animation: g3backplate 0.8s ease;
}

.gateway3-tile__faceplate {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  /* border-radius: 3px; */
  height: 100%;
  width: 100%;
  animation: g3faceplate 0.8s ease;
}

.gateway3-tile__faceplate--placeholder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  color: darkgray;
  animation: g3faceplate 0.8s ease;

}

.gateway3-tile__faceplate-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: rgb(52, 165, 235);
}

.gateway3-tile__faceplate-title--placeholder {

}

.gateway3-tile__faceplate-desc {
  color: white;
}

.gateway3-tile__faceplate-desc--placeholder {
  color: white;
}

.gateway3-tile__faceplate-tag {
  height: 20px;
  margin-left: 14px;
  color: rgb(34, 44, 56);
  animation: g3tag 1s ease;
  z-index: 1;
  /* animation-delay: 3s; */
}

@keyframes g3loadingTile {
  0% {
    opacity: 0;
    /* width: 0%; */
    transform: translateY(-30px) scale(1.2);
  }
  100% {
    opacity: 1;
    /* width: 100%; */
    transform: translateY(0) scale(1);
  }
}

@keyframes g3border {
  0% {
    opacity: 0;
    height: 30%;
    /* width: 30%; */
    /* width: 0%; */
    /* transform: translateY(-20px) scale(0.5); */
    transform: translateY(-20px) scale(1.12);
  }
  100% {
    opacity: 1;
    height: 100%;
    /* width: 100%; */
    /* width: 100%; */
    transform: translateY(0) scale(1);
  }
}

@keyframes g3backplate {
  0% {
    /* width: 0%; */
    height: 0%;
  }
  100% {
    /* width: 100%; */
    height: 100%;
  }
}

@keyframes g3faceplate {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.92);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes g3tag {
  0%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}
