.placeholder-container {
  padding: 12px;
  border: 2px dashed rgb(80,80,80);
  /* background: gray; */
  /* width: 100%; */
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 2px;
  margin: 12px;
  flex: 1;
}

.placeholder__title {
  /* color: lightgray; */
  /* color: gray; */
}
